# Catch any directory named 'build' or 'target' anywhere in the project
**/build/
**/target/
**/dist/

# Catch the compiled compiler binary itself
/riggc/riggc
riggc.exe

# Catch compiled example executables (assuming they output to their own dirs or root)
/examples/**/run
/examples/**/*.out
*.exe
*.out
*.o
*.obj

# extra stuff
**/compile_commands.json

# OS specific junk
.DS_Store
Thumbs.db
